body {
  background-color: black;
  font-family: "Chivo", sans-serif;
}

.logo--container {
  text-align: center;
  margin: 80px;
}


.container--item {
  border-top: solid white 3px;
  margin: 16px 120px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;

}

.color--white {
  color: #ffffff;
}

.title-list--container {
  margin: 16px 120px;
}


.facebook--button {
  border: solid red 3px;
border-radius: 100px;
text-align: center;
padding: 15px 20px;
}

.youtube--button {
  border: solid red 3px;
  border-radius: 100px;
  text-align: center;
  padding: 15px 15px;
}

.email--button {
  border: solid red 3px;
  border-radius: 100px;
  text-align: center;
  padding: 15px 15px;
}

.bio--button {
  border: solid red 3px;
  border-radius: 100px;
  text-align: center;
  padding: 15px 25px;
}

.social-links--container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 120px 120px;
}

.container--go-to-youtube {
  border: solid red 3px;
  border-radius: 100px;
  text-align: center;
  padding: 15px 15px;
  margin: 0px 10px;
}

.container--download-button {
  border: solid red 3px;
  border-radius: 100px;
  text-align: center;
  padding: 15px 15px;
  margin: 0px 10px;
}
.container--buy-button {
  border: solid red 3px;
  border-radius: 100px;
  text-align: center;
  padding: 15px 15px;
  margin: 0px 10px;
}

.song-links--items {
  display: flex;
}
